<div class="panel">
  <div>
    <p>Message text: {{message.text}}</p>
    <!-- <input [(ngModel)]="message.text"/> -->
  </div>
  <hr/>
    <div>
    <p>Message text: {{message.text}}</p>
    <!-- <input [ngModel]="message.text" (ngModelChange)="changeText($event)"/> -->
  </div>
  <hr/>
 
 <!-- todo email like component -->

  <!-- <div>
    <p>Message type: {{message.type}}</p>
    <select [(ngModel)]="message.type">
      <option *ngFor="let t of types" [value]="t">{{t}}</option>
    </select>
  </div> -->
</div>
