<h3>
  Home
</h3>
<!-- Refactor LINKS -->
<ol>
  <li>
    <a routerLink="view-interpolation-examples" routerLinkActive="active">View interpolation examples</a>
  </li>
  <li>
    <a routerLink="binding-examples" routerLinkActive="active">Binding examples</a>
  </li>
  <li>
    <a routerLink="inputs-outputs-examples" routerLinkActive="active">Inputs outputs examples</a>
  </li>
  <li>
    <a routerLink="forms" routerLinkActive="active">Forms</a>
    </li>
   <li>
    <a routerLink="todos" routerLinkActive="active">Todos</a>
  </li>
   <li>
    <a routerLink="modules-examples" routerLinkActive="active">Modules examples</a>
  </li>
</ol>